@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;400;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Francois+One|Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400&display=swap');
// sans-serif;
$headingfontFamily:'Raleway', sans-serif;

$bodyfontFamily:'Josefin Sans',
sans-serif;
// $fontFamily:'Dosis',
// sans-serif;
$primaryColor:#5067eb;
$secondaryColor:#478975;
$breakpoint-tablet: 768px;
$breakpoint-phone: 320px;
$font100:100;
$font200:200;
$font400:400;
$font700:700;
$white:#ced6d3;
$black:#444444;